/* 重置样式表 */
@import url("./reset.css");
/* esim通用样式表 */
@import url("./common.css");
/* DIALOG提示框 */
@import url("./../../../../common/Dialog/css/dialog.css");

/* 头部 */
#head>img {
    width: 100%;
    height: 18rem;
}

.wrapDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    line-height: 5rem;
    border-bottom: 1px solid #eee;
}

.wrapDiv>span.intitle {
    width: 30%;
}



